.home-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.home-item{
    width: 280px;
    height: 200px;
    text-align: center; 
    vertical-align: middle;
    margin: 10px;
}
.home-item:hover{
    background-color: rgb(240, 216, 216);
    border-radius: 5px;
}
.home-item img{
    width:200px;
    height: 100px;
    border: 1px solid red;
    border-radius: 5px;
    margin: 10px 0 5px 0;
}
.home-item p{
    margin: 0;
}
#home-item-ten{
    font-weight: bold;
    font-size: large;
}
#home-item-hoan{
    color: red;
}

